// Import Bootstrap styles
@import "~bootstrap/scss/bootstrap";

$border-color: #CCF1FA; // Light blue
$button-color: #FFF2F6; // Light pink
$background-color: #BCADD8; // Pastel purple
$form-background-color: lighten($background-color, 5%);

// Customize login form styles
.login-form {
  border: 4px solid $border-color;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: $form-background-color;

  // Customize form groups
  .form-group {
    margin-bottom: 20px;

    // Customize form labels
    label {
      color: $border-color;
    }

    // Customize form controls
    .form-control {
      border-color: $border-color;
    }
  }

  // Customize submit button
  .submit-button {
    background-color: $button-color;
    border-color: $button-color;

    &:hover {
      background-color: darken($button-color, 10%);
      border-color: darken($button-color, 10%);
    }
  }
}

.login-header {
  text-align: center;
}
