@import "~bootstrap/scss/bootstrap";
$background-color: #BCADD8; // Pastel purple

#root, html {
  background-color: $background-color;
  margin: 0;  // Reset margin to ensure full coverage
  padding: 0; // Reset padding to ensure full coverage
}
